.about-us {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.about-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    color: #2C3E50;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
